.app {
  text-align: center;
}

.app-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
}

.task-input {
  width: 100%;
  max-width: 500px;
  background: white;
  padding: 1rem;
  border-radius: 5px;
  margin-bottom: 0.5rem;
}

.task-input__container {
  margin-bottom: 3rem;
  width: 100%;
  max-width: 500px;
}

.task-input__btn {
  background-color: #ffe5d4;
  width: 100%;
  max-width: 500px;
  padding: 1rem;
  border-radius: 5px;
  border: none;
  font-size: 1rem;
  font-weight: bold;
}

.task-input__btn:active {
  background-color: #efc7c2;
}

.task-input__text {
  border: none;
  width: 100%;
  max-width: 500px;
  font-size: 1rem;
  outline: none;
}

.task {
  width: 100%;
  max-width: 500px;
  background: white;
  font-size: 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem 0 1rem;
}

.task__delete {
  cursor: pointer;
  width: 20px;
  height: 20px;
}

.task__delete:hover {
  border-radius: 50%;
  background-color: #efc7c2;
}
